// app global css in SCSS form
body {
  background-color: #ffff;
  font-size: 20px;
}
.q-toolbar {
  min-height: 70px;
  .q-toolbar__title,
  .version {
    color: #333;
    font-weight: 500;
  }
}
.q-field--standard .q-field__control:before {
  border-bottom: 1px solid #068292;
}
%flex {
  display: flex;
}
%flex-column {
  display: flex;
  flex-direction: column;
}
%flex-center {
  justify-content: center;
}
%flex-start {
  justify-content: flex-start;
}
%flex-stretch {
  justify-content: stretch;
}
//登入
.login_form_area {
  @extend %flex-column;
  @extend %flex-center;
  margin: 50px auto;
  .title {
    @extend %flex-column;
    @extend %flex-center;
    font-size: 1.3rem;
    margin: 20px auto;
  }
  .q-form {
    @extend %flex-column;
    @extend %flex-center;
    margin: 50px auto;
    width: 40%;
    max-width: 40%;
    .q-field {
      width: 100%;
      max-width: 100%;
      .q-field__inner {
        background-color: #ffff;
      }
      margin-bottom: 10px;
    }
    .password {
      .cursor-pointer {
        font-size: 26px;
      }
      .items-center {
        .material-icons {
          color: #0000008a;
          &.cursor-pointer {
            color: #31ccec;
          }
        }
      }
      .q-anchor--skip {
        .material-icons {
          font-size: 24px;
          margin-left: 0px;
        }
      }
    }
    .verification {
      display: flex;
      flex-direction: row;
      @extend %flex-stretch;
      width: 100%;
      .q-field {
        width: 70%;
        max-width: 70%;
      }
      .codeBox {
        align-items: center;
        color: $info;
        display: flex;
        margin-left: 10px;
      }
      .material-icons {
        color: $info;
        cursor: pointer;
        font-size: 32px;
        margin-left: 15px;
      }
    }
    .btn_group {
      display: flex;
      justify-content: center;
      .q-hoverable {
        background-color: #ddd;
        border: 1px solid #ddd;
        color: #333;
      }
      .bg-primary {
        margin-left: 10px;
      }
    }
  }
}

@media screen and (width <= 820px) {
}

@media screen and (width <= 768px) {
  //登入
  .login_form_area .q-form {
    width: 70%;
    max-width: 70%;
  }
}
@media screen and (width <= 767px) {
}
@media screen and (width <= 676px) {
}
@media screen and (width <= 640px) {
}
@media screen and (width <= 600px) {
}
@media screen and (width <= 568px) {
}
@media screen and (width <= 533px) {
}
@media screen and (width <= 480px) {
}
@media screen and (width <= 430px) {
  //登入
  .login_form_area .q-form {
    width: 85%;
    max-width: 85%;
  }
}
@media screen and (width <= 414px) {
}
@media screen and (width <= 360px) {
  //登入
  .q-toolbar__title,
  .version {
    font-size: 1.2rem;
  }
}
